* {
    /* Zorgt ervoor dat de padding en border bij de breedte horen */
    box-sizing: border-box;
}

.visually-hidden {
    /* Verbergt de titel van elke section */
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

body {
    /* Roboto font */
    color: white;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

header {
    /* Blok bovenin */
    background-color: #351fb7;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
}

h1 {
    /* Opmaak navigatie */
    font-size: 2em;
    font-weight: bold;
}

a {
    /* Verbergt de opmaak van een link */
    text-decoration: none;
    color: white;
}

a:hover {
    /* Laat zien dat je op het woord kan klikken */
    text-decoration: underline;
    color: #f35279;
}

.slider {
    /* Blok boven de header waar op de Squad Page een slider komt met alle gezichten van de Squad */
    background-color: #25167a;
    height: 16em;
}

.content {
    /* Laat alle content in een 2xn grid zien als de pagina >960px is */
    background-color: #351fb7;
    padding: 5em;
    display: grid;
    grid-template-columns: 1fr;
    gap: 5em;
    justify-items: center;

    @media (min-width: 960px) {
        grid-template-columns: 1fr 1fr;
    }
}

.profile-cards {
    /* Box om alle visitekaartjes */
    width: 25em;
    aspect-ratio: 1;
    margin: 0;
    border-radius: 5%;
}

p {
    /* Box om alle Amstelcampusfoto's */
    width: 25em;
    aspect-ratio: 1;
    margin: 0;

}

img {
    /* Laat alle img de hele box opvullen en geeft ronde hoeken */
    width: 100%;
    border-radius: 5%;
}