* {
    box-sizing: border-box;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

body {
    color: white;
}

header {
    background-color: #351fb7;
    display: flex;
    justify-content: space-around;
}

a {
    text-decoration: none;
    color: white;
}

.slider {
    background-color: #25167a;
    height: 16em;
}

.profile {
    height: 10em;
    aspect-ratio: 1;
    padding: 1em;
    display: flex;
    flex-direction: column;
}

.image-wrapper {
    height: 10em;
    aspect-ratio: 1;
}

img:not(.profile-card) {
    border-radius: 50%;
    border-color: black;
    border-width: 3px;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.name {
    display: flex;
    justify-content: center;
}

.cards {
    background-color: #351fb7;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5em;
    align-items: center;
}

.profile-card {
    padding: 1em;
    width: 300px;
}





/* @keyframes scroll {
    from {
        transform: translateX(0)
    }

    to {
        transform: translateX(50%);
    }
} */