* {
    box-sizing: border-box;

}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

body {
    color: white;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

header {
    background-color: #351fb7;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
}

h1 {
    font-size: 2em;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
    color: #f35279;
}

.slider {
    background-color: #25167a;
    height: 16em;
}

/* .profile {
    height: 10em;
    aspect-ratio: 1;
    padding: 1em;
    display: flex;
    flex-direction: column;
} */

/* .image-wrapper {
    height: 10em;
    aspect-ratio: 1;
} */

/* img:not(.profile-card) {
    border-radius: 50%;
    border-color: black;
    border-width: 3px;
    height: 100%;
    width: 100%;
    object-fit: cover;
} */

/* .name {
    display: flex;
    justify-content: center;
} */

.content {
    background-color: #351fb7;
    padding: 5em;
    display: grid;
    grid-template-columns: 1fr;
    gap: 5em;
    justify-items: center;

    @media (min-width: 960px) {
        grid-template-columns: 1fr 1fr;
    }
}

.profile-cards {
    background-color: grey;
    width: 25em;
    aspect-ratio: 1;
    margin: 0;
    border-radius: 5%;
}

p {
    width: 25em;
    aspect-ratio: 1;
    margin: 0;
    
}

img {
    width: 100%;
    border-radius: 5%;
}

/* @keyframes scroll {
    from {
        transform: translateX(0)
    }

    to {
        transform: translateX(50%);
    }
} */