/* BELANGRIJK
    1. Gebruik alleen class-selectors. (.class {}) 
        - Anders alleen in overleg.
    2. Werk alleen in je eigen code. (zie comments)
        - Anders alleen in overleg.
*/

/* donkerblauw: #25167a
   lichtblauw: #351fb7 */

/* BEGIN GEZAMENLIJK */

* {
    /* Zorgt ervoor dat de padding en border bij de breedte horen */
    box-sizing: border-box;
}

html {
    /*scrollen in html-element stopt 5em van de bovenkant en gaat smooth*/
    scroll-padding-top: 5em;

    @media (prefers-reduced-motion: no-preference) {
        scroll-behavior: smooth;
    }
}

body {
    color: white;
    margin: 0;

    /* Roboto font */
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

/* EINDE GEZAMENLIJK */



/* BEGIN SIEUWKE */

/* Header met navigatie */
header {
    display: flex;
    justify-content: space-evenly;
    position: sticky;
    top: 0;
    z-index: 10;
    padding: 1rem;
    font-size: larger;
    background-color: #351fb7;
    color: #ffffff;
    
    a {
        color: white;
        /*Lijn onder hyperlink weggehaald*/
        text-decoration: none;
    }

    a:visited {
        /*Kleur van link veranderd als je op de site bent geweest*/
      color: white;
    }

    a:focus,
    a:hover {
        /* Kleur van link veranderd als je er overheen hovert*/
      color: #f35279;
      cursor: pointer;
    }

    a:active {
        /* Kleur van link veranderd als je er op klikt */
        color: #ff92ad
    }
    
}



/* Carrousel */
#squad-page-1j {
    /*Carrousel sectie*/
    height: 15rem;
    margin: auto;
    position: relative;
    width: 100%;
    display: grid;
    overflow: hidden;
    background-color: #25167a;
}


/*Animatie vak*/
.slide-track {
    display: flex;
    /* Breedte slide-track = individule slide (.profile width) x totale aantal slides (23 foto's x 2) */
    width:calc(11em * 46);
    animation: scroll 80s linear infinite;
}
.slide-track:hover {
    /* Animatie stopt als je over de slide-track hovert */
    animation-play-state: paused;
}

/*Animatie vak dat scrollt*/
@keyframes scroll { 
    0% {
        transform: translateX(0);
    }
    100% {
        /* Beweegt de slide-track naar links (.profile -width) voor de helft van de breedte van de slide-track (46 foto's / 2 = 23) */
        transform: translateX(calc(-11em * 23));
    }
}

/* Foto's met namen */
.profile {
    width: 11em;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    perspective: 100px;
    h2 {
        padding-top: 0.3rem;
    }
}

.profile div {
    width: 10em;
    aspect-ratio: 1;
    grid-row-start: 1;
}

.profile div:hover {
    transform: translateZ(10px);
    transition: transform 1s;
}

.profile img {
    display: block;
    object-fit: cover;
    position: relative;
    width: 100%;
    height: 100%;
    border: 5px solid #c1bcff;
    border-radius: 50%;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, .2);
    transition: .25s .15s;
    
}


/* Gradient Shadows zijkanten van de carousel */

#squad-page-1j::before,
#squad-page-1j::after {
    background: linear-gradient(to right, #25167a 0%, rgba(255,255,255,0) 100%);
    content: '';
    height: 100%;
    position: absolute;
    width: 4%;
    z-index: 2;
}

#squad-page-1j::before {
    left: 0;
    top: 0;
}

#squad-page-1j::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

/* EINDE SIEUWKE */



/* BEGIN MAARTEN */

/* EINDE MAARTEN */



/* BEGIN KEVIN */
*{
    box-sizing: border-box;
}
.TTH ul{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 20px;
    margin: 0;
    list-style-type: "";
}

.TTH img {
    width: 100%;
}

@media (width > 768px){
.TTH ul{
    grid-template-columns: 1fr 1fr;
}
}
/* EINDE KEVIN */